### Build onset file for emotion task

- this script read raw onset file and format them to be fed on the spm pipeline

In [1]:
# Import
import os
import pandas as pd

In [2]:
%matplotlib inline

In [3]:
# Set path
path_root = "~/Drive/HCP/"
path_eprime = os.path.join(path_root,"subtypes_scores/26-10-2016/pheno/tmp_emotion_eprime/LINKED_DATA/EPRIME/EVs/")
# Read fear eprime files
eprime_fear = pd.read_csv(os.path.join(path_eprime,"fear.txt"), sep='\t',header=None)
eprime_fear

         0   1  2
0   32.081  18  1
1   74.223  18  1
2  116.366  18  1

In [4]:
# Add onset_trial name
onset_list = ["fear".format(row) for ind, row in eprime_fear.iterrows()]
eprime_fear.loc[:,'']=onset_list
eprime_fear

         0   1  2
0   32.081  18  1  fear
1   74.223  18  1  fear
2  116.366  18  1  fear

In [5]:
# re-arrange colomns
cols = eprime_fear.columns.tolist()
cols = cols[-1:] + cols[:-1]
eprime_fear = eprime_fear[cols]
eprime_fear

               0   1  2
0  fear   32.081  18  1
1  fear   74.223  18  1
2  fear  116.366  18  1

In [6]:
# Read neut eprime files
eprime_neut = pd.read_csv(os.path.join(path_eprime,"neut.txt"), sep='\t',header=None)
eprime_neut

        0   1  2
0  10.996  18  1
1  53.152  18  1
2  95.295  18  1

In [8]:
# Add onset_trial name
onset_list = ["neut".format(row) for ind, row in eprime_neut.iterrows()]
eprime_neut.loc[:,'']=onset_list
eprime_neut

        0   1  2
0  10.996  18  1  neut
1  53.152  18  1  neut
2  95.295  18  1  neut

In [9]:
# re-arrange colomns
cols = eprime_neut.columns.tolist()
cols = cols[-1:] + cols[:-1]
eprime_neut = eprime_neut[cols]
eprime_neut

              0   1  2
0  neut  10.996  18  1
1  neut  53.152  18  1
2  neut  95.295  18  1

In [10]:
# append neut to fear

In [11]:
eprime_final = eprime_fear.append(eprime_neut)
eprime_final

               0   1  2
0  fear   32.081  18  1
1  fear   74.223  18  1
2  fear  116.366  18  1
0  neut   10.996  18  1
1  neut   53.152  18  1
2  neut   95.295  18  1

In [12]:
# Put header
eprime_final.rename(columns={0:'start',1:'duration',2:'repetition'},inplace=True)

In [13]:
# Save file 
eprime_final.to_csv(os.path.join(path_eprime,"emotion_onset.csv"),index=False)

In [14]:
eprime_final

           start  duration  repetition
0  fear   32.081        18           1
1  fear   74.223        18           1
2  fear  116.366        18           1
0  neut   10.996        18           1
1  neut   53.152        18           1
2  neut   95.295        18           1

In [15]:
 os.path.expanduser('~')

'/home/yassinebha'