### Build onset file for Social task

- this script read raw onset file and format them to be fed on the spm pipeline

In [1]:
# Import
import os
import pandas as pd

In [2]:
%matplotlib inline

In [ ]:
# Set path
path_root = "~/Drive/HCP/"
path_eprime = os.path.join(path_root,"subtypes_scores/26-10-2016/pheno/tmp_social_eprime/LINKED_DATA/EPRIME/EVs/")

# Mental

In [26]:
# Read mental interaction
eprime_mental = pd.read_csv(os.path.join(path_eprime,"mental.txt"), sep='\t',header=None)
eprime_mental

         0   1  2
0    8.197  23  1
1   46.008  23  1
2  122.056  23  1

In [27]:
# Read trial rated as mental
eprime_mental_resp = pd.read_csv(os.path.join(path_eprime,"mental_resp.txt"), sep='\t',header=None)
eprime_mental_resp

         0   1  2
0    8.197  23  1
1   46.008  23  1
2  122.056  23  1

In [28]:
# Add onset_trial name
onset_list = ["mental".format(row) for ind, row in eprime_mental.iterrows()]
eprime_mental.loc[:,'']=onset_list
eprime_mental

         0   1  2
0    8.197  23  1  mental
1   46.008  23  1  mental
2  122.056  23  1  mental

In [29]:
#response
onset_list_resp = ["mental_resp".format(row) for ind, row in eprime_mental_resp.iterrows()]
eprime_mental_resp.loc[:,'']=onset_list_resp
eprime_mental_resp

         0   1  2
0    8.197  23  1  mental_resp
1   46.008  23  1  mental_resp
2  122.056  23  1  mental_resp

In [30]:
# re-arrange colomns
cols = eprime_mental.columns.tolist()
cols = cols[-1:] + cols[:-1]
eprime_mental = eprime_mental[cols]
eprime_mental

                 0   1  2
0  mental    8.197  23  1
1  mental   46.008  23  1
2  mental  122.056  23  1

In [31]:
# response
cols = eprime_mental_resp.columns.tolist()
cols = cols[-1:] + cols[:-1]
eprime_mental_resp = eprime_mental_resp[cols]
eprime_mental_resp

                      0   1  2
0  mental_resp    8.197  23  1
1  mental_resp   46.008  23  1
2  mental_resp  122.056  23  1

# Random

In [39]:
# Read random eprime files
eprime_rnd = pd.read_csv(os.path.join(path_eprime,"rnd.txt"), sep='\t',header=None)
eprime_rnd

         0   1  2
0   84.032  23  1
1  160.081  23  1

In [40]:
# read response random
eprime_rnd_resp = pd.read_csv(os.path.join(path_eprime,"other_resp.txt"), sep='\t',header=None)
eprime_rnd_resp

         0   1  2
0   84.032  23  1
1  160.081  23  1

In [41]:
# Add onset_trial name
onset_list = ["rnd".format(row) for ind, row in eprime_rnd.iterrows()]
eprime_rnd.loc[:,'']=onset_list
eprime_rnd

         0   1  2
0   84.032  23  1  rnd
1  160.081  23  1  rnd

In [42]:
# Add response onset_trial name
onset_list = ["rnd_resp".format(row) for ind, row in eprime_rnd.iterrows()]
eprime_rnd_resp.loc[:,'']=onset_list
eprime_rnd_resp

         0   1  2
0   84.032  23  1  rnd_resp
1  160.081  23  1  rnd_resp

In [43]:
# re-arrange colomns
cols = eprime_rnd.columns.tolist()
cols = cols[-1:] + cols[:-1]
eprime_rnd = eprime_rnd[cols]
eprime_rnd

              0   1  2
0  rnd   84.032  23  1
1  rnd  160.081  23  1

In [44]:
# re-arrange resp  colomns
cols = eprime_rnd_resp.columns.tolist()
cols = cols[-1:] + cols[:-1]
eprime_rnd_resp = eprime_rnd_resp[cols]
eprime_rnd_resp

                   0   1  2
0  rnd_resp   84.032  23  1
1  rnd_resp  160.081  23  1

In [12]:
# append mental to metal_resp
eprime_mental_final = eprime_mental.append(eprime_mental_resp)
eprime_mental_final

In [48]:
# append random to rnd_resp
eprime_random_final = eprime_rnd.append(eprime_rnd_resp)
eprime_random_final

                   0   1  2
0       rnd   84.032  23  1
1       rnd  160.081  23  1
0  rnd_resp   84.032  23  1
1  rnd_resp  160.081  23  1

In [50]:
# append mental to random
eprime_final = eprime_mental_final.append(eprime_random_final)
eprime_final

                      0   1  2
0       mental    8.197  23  1
1       mental   46.008  23  1
2       mental  122.056  23  1
0  mental_resp    8.197  23  1
1  mental_resp   46.008  23  1
2  mental_resp  122.056  23  1
0          rnd   84.032  23  1
1          rnd  160.081  23  1
0     rnd_resp   84.032  23  1
1     rnd_resp  160.081  23  1

In [51]:
# Put header
eprime_final.rename(columns={0:'start',1:'duration',2:'repetition'},inplace=True)

In [53]:
# Save file 
eprime_final.to_csv(os.path.join(path_eprime,"social_onset.csv"),index=False)

In [52]:
eprime_final

                  start  duration  repetition
0       mental    8.197        23           1
1       mental   46.008        23           1
2       mental  122.056        23           1
0  mental_resp    8.197        23           1
1  mental_resp   46.008        23           1
2  mental_resp  122.056        23           1
0          rnd   84.032        23           1
1          rnd  160.081        23           1
0     rnd_resp   84.032        23           1
1     rnd_resp  160.081        23           1

In [75]:
 os.path.expanduser('~')

'/home/yassinebha'