### Build onset file for language task

- this script read raw onset file and format them to be fed on the spm pipeline

In [71]:
# Import
import os
import pandas as pd

In [36]:
%matplotlib inline

In [37]:
# Set path
path_root = "~/Drive/HCP/"
path_eprime = os.path.join(path_root,"subtypes_scores/26-10-2016/pheno/tmp_language_eprime/LINKED_DATA/EPRIME/EVs/")
# Read math eprime files
eprime_math = pd.read_csv(os.path.join(path_eprime,"math.txt"), sep='\t',header=None)
eprime_math

         0       1    2
0   30.057  12.600  1.0
1   42.905  12.796  1.0
2   86.060  12.722  1.0
3   99.055  12.791  1.0
4  141.117  12.592  1.0
5  153.965  12.777  1.0
6  167.026  12.861  1.0
7  212.381  13.503  1.0

In [38]:
# Add onset_trial name
onset_list = ["math".format(row) for ind, row in eprime_math.iterrows()]
eprime_math.loc[:,'']=onset_list
eprime_math

         0       1    2
0   30.057  12.600  1.0  math
1   42.905  12.796  1.0  math
2   86.060  12.722  1.0  math
3   99.055  12.791  1.0  math
4  141.117  12.592  1.0  math
5  153.965  12.777  1.0  math
6  167.026  12.861  1.0  math
7  212.381  13.503  1.0  math

In [39]:
# re-arrange colomns
cols = eprime_math.columns.tolist()
cols = cols[-1:] + cols[:-1]
eprime_math = eprime_math[cols]
eprime_math

               0       1    2
0  math   30.057  12.600  1.0
1  math   42.905  12.796  1.0
2  math   86.060  12.722  1.0
3  math   99.055  12.791  1.0
4  math  141.117  12.592  1.0
5  math  153.965  12.777  1.0
6  math  167.026  12.861  1.0
7  math  212.381  13.503  1.0

In [40]:
# Read story eprime files
eprime_story = pd.read_csv(os.path.join(path_eprime,"story.txt"), sep='\t',header=None)
eprime_story

         0       1    2
0    0.217  28.249  1.0
1   57.313  27.187  1.0
2  113.449  26.089  1.0
3  181.474  29.295  1.0

In [41]:
# Add onset_trial name
onset_list = ["story".format(row) for ind, row in eprime_story.iterrows()]
eprime_story.loc[:,'']=onset_list
eprime_story

         0       1    2
0    0.217  28.249  1.0  story
1   57.313  27.187  1.0  story
2  113.449  26.089  1.0  story
3  181.474  29.295  1.0  story

In [42]:
# re-arrange colomns
cols = eprime_story.columns.tolist()
cols = cols[-1:] + cols[:-1]
eprime_story = eprime_story[cols]
eprime_story

                0       1    2
0  story    0.217  28.249  1.0
1  story   57.313  27.187  1.0
2  story  113.449  26.089  1.0
3  story  181.474  29.295  1.0

In [43]:
# append story to math

In [44]:
eprime_final = eprime_math.append(eprime_story)
eprime_final

                0       1    2
0   math   30.057  12.600  1.0
1   math   42.905  12.796  1.0
2   math   86.060  12.722  1.0
3   math   99.055  12.791  1.0
4   math  141.117  12.592  1.0
5   math  153.965  12.777  1.0
6   math  167.026  12.861  1.0
7   math  212.381  13.503  1.0
0  story    0.217  28.249  1.0
1  story   57.313  27.187  1.0
2  story  113.449  26.089  1.0
3  story  181.474  29.295  1.0

In [48]:
# Put header
eprime_final.rename(columns={0:'start',1:'duration',2:'repetition'},inplace=True)

In [51]:
# Save file 
eprime_final.to_csv(os.path.join(path_eprime,"language_onset.csv"),index=False)

In [52]:
eprime_final

            start  duration  repetition
0   math   30.057    12.600         1.0
1   math   42.905    12.796         1.0
2   math   86.060    12.722         1.0
3   math   99.055    12.791         1.0
4   math  141.117    12.592         1.0
5   math  153.965    12.777         1.0
6   math  167.026    12.861         1.0
7   math  212.381    13.503         1.0
0  story    0.217    28.249         1.0
1  story   57.313    27.187         1.0
2  story  113.449    26.089         1.0
3  story  181.474    29.295         1.0

In [87]:
for i in 1,3,4:
    if os.path.exists(os.path.expanduser('/~/')):
        print('a1')
        break
    print('a')
    continue
    print('b')

a
a
a

In [72]:
os.path.exists("~/Drive/HCP/")

False

In [75]:
 os.path.expanduser('~')

'/home/yassinebha'